Flask-Mail==0.9.1
Flask-RESTful==0.3.9
Flask==3.0.3
Jinja2==3.1.4
MarkupSafe==2.1.5
Werkzeug==3.0.3
aniso8601==9.0.1
blinker==1.8.2
click==8.1.7
itsdangerous==2.2.0
pytz==2024.1
serverless-wsgi==3.0.4
six==1.16.0
